<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Proper Error Handling in JavaScript</title>
</head>
<body>
    <h1>Error Handling in JavaScript</h1>
    <p>
        <button id="bad">The Bad</button>
        <button id="ugly">The Ugly</button>
        <button id="proper">Proper Handler</button>
        <button id="async">Asynchronous</button>
    </p>
    <script src="/scripts/error.js"></script>
    <script src="/scripts/badHandler.js"></script>
    <script src="/scripts/uglyHandler.js"></script>
    <script src="/scripts/errorHandler.dom.js"></script>
    <script src="/scripts/errorAjaxHandler.dom.js"></script>
    <script src="/scripts/badHandler.dom.js"></script>
    <script src="/scripts/uglyHandler.dom.js"></script>
    <script src="/scripts/properHandler.dom.js"></script>
</body>
</html>
